.wrapper {
    background: #f0ebf8;
}

.container {
    display: grid;
    grid-template-columns: 1.9fr 0.5fr;
    padding-top: 2rem;
    padding-bottom: 3rem;
    gap: 5rem;
}

.topics {
    text-align: center;
    font-weight: bold;
    padding-bottom: 1rem;
    border: none;
}

.topics button {
    border: none;
    background: transparent;
}

.left_container {
    margin-top: 5rem;
}

.right_container {
    top: 0;
}

.left_container button {
    border-radius: 1rem;
    padding: 0.5rem 2rem;
    margin: 0.5rem;
}

.left_container button a{
    text-decoration: none;
    color: black;
}

.right_container button {
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
}

.right_container button a{
    text-decoration: none;
    color: black;
    
}

.active {
    animation: blink 2s infinite; 
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }